<div class="search">
  <div class="row">
    <div class="text-center col-md-4">
      <%= render 'keyword_search' %>
      <%= render 'city_search' %>
    </div>
    <div class="col-md-8">
      <%= render 'item' %>
    </div>
  </div>
</div>
