<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#" class="btn btn-secondary">↑</a>
    </p>
    <p>これはeknokによって作られました。</p>
    <p>
      ご要望・メッセージはこちらからどうぞ
      <a href="https://github.com/eknok" target="_blank">GitHub</a> /
      <a href="https://twitter.com/eeknok" target="_blank">Twitter</a>
    </p>
  </div>
</footer>
